#content
	- category = "run_comparison"
	- Ref_hash = {relative_uniqueness_of_peptides_in_decile_found_anywhere_in_other_runs: "Relative Uniqueness of Peptides in Decile Found Anyqhere in Other Runs", relative_fraction_of_peptides_in_retention_decile_matching_a_peptide_in_other_runs: "Relative Fraction of Peptide in Retention Decile Matching a Peptide in Other Runs", median_ratios_of_ms1_intensities_of_matching_peptides_in_other_runs: "Median Ratios of MS1 Intensities of Matching Peptides in Other Runs", differences_in_elution_rank_percent_of_matching_peptides_in_other_runs: "Differences in Elution Rank (Percent) of Matching Peptides in Other Runs", magnitude_of_rt_correction_of_intensities_of_matching_peptides_in_other_runs: "Magnitude of RT Correction of Intensities of Matching Peptides in Other Runs", uncorrected_and_rt_corrected_relative_intensities_of_matching_peptides_in_other_runs: "Uncorrected and RT Corrected Relative Intensities of Matching Peptides in Other Runs" }
		%h1 Testing this whole system out, I am	
	#overview
	- Dir.chdir('lib/public')
	- subcats = Dir.glob("#{category}/*/*.svg").map{|a| a.slice(/.*?\/(.*?)\/\w*?\.svg/,1)}.uniq.compact
	%ul
	- subcats.sort.each do |subcat|
		%li 
			=link_to("##{subcat}", subcat)
	#pictures
	- subcats.sort.each do |subcat|
		%h2{:id => subcat }= Ref_hash[subcat.to_sym]
		- @a = Dir.glob("#{category}/#{subcat}/*.svg")
		- @a.map do |a|
			=  img(a) 
		%p 

		= link_to("#overview", "Return to the top") 
